.Input {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.InputElement {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #999;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border-bottom: 3px solid green;
    transition: all .2s;
}

.Invalid {
    border-bottom: 3px solid red;
}