.Logo {
    height: 100%;
    padding: .5rem 0;
    text-align: center;
    margin: 0 1rem;
}

.Logo img {
    width: 5rem;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .Logo img {
        width: 8rem;
        padding: .5rem 1rem;
    }
}