.NavigationItem {
    margin: 0;
    height: 100%;
}

.NavigationItem a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    color: #211c3d;
    text-transform: uppercase;
    font-weight: 300;
    height: 100%;
    transition: all .2s;
    border-bottom: 4px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 4px solid #0fa74e;
}

@media only screen and (max-width: 900px) {
    .NavigationItem {
        width: 100%;
        height: auto;
    }

    .NavigationItem a {
        padding: 1.5rem;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #211c3d;
        color: #fff;
        border-bottom: none;
    }

}