* {
  font-family: Open Sans, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #211c3d;
  /* text-align: center; */
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 43.75%;
  }
}
